absl-py==0.15.0
astunparse==1.6.3
attrs==22.2.0
cached-property==1.5.2
cachetools==4.2.4
certifi==2022.12.7
charset-normalizer==2.0.12
clang==5.0
cycler==0.11.0
dataclasses==0.8
flatbuffers==1.12
gast==0.4.0
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.48.2
h5py==3.1.0
idna==3.4
importlib-metadata==4.8.3
ipu-tensorflow-addons @ file:///home/tak/poplar_sdk-ubuntu_18_04-3.0.0%2B1145-1b114aac3a/ipu_tensorflow_addons-2.6.3%2Bgc3.0.0%2B236851%2B2e46901-py3-none-any.whl
keras @ file:///home/tak/poplar_sdk-ubuntu_18_04-3.0.0%2B1145-1b114aac3a/keras-2.6.0%2Bgc3.0.0%2B236851%2B1744557f-py2.py3-none-any.whl
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lxml==4.9.2
Markdown==3.3.7
matplotlib==3.3.4
neural-structured-learning==1.4.0
numpy==1.19.5
oauthlib==3.2.2
opt-einsum==3.3.0
Pillow==8.4.0
pkg_resources==0.0.0
protobuf==3.19.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==3.0.9
python-dateutil==2.8.2
PyYAML==6.0
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.9
scipy==1.5.4
six==1.15.0
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow @ file:///home/tak/poplar_sdk-ubuntu_18_04-3.0.0%2B1145-1b114aac3a/tensorflow-2.6.3%2Bgc3.0.0%2B236855%2Bd084e493702%2Bamd_znver1-cp36-cp36m-linux_x86_64.whl
tensorflow-addons==0.14.0
tensorflow-estimator==2.6.0
tensorflow-hub==0.12.0
termcolor==1.1.0
typeguard==2.13.3
typing-extensions==3.10.0.2
urllib3==1.26.13
Werkzeug==2.0.3
wrapt==1.12.1
zipp==3.6.0
